<% @title = 'See a Kiva user''s loans on a map' %>

<p>Enter a Kiva username below and see the corresponding loans on a map:</p>
<form action="/">
  <p><label>User name: <input type="text" name="user_id" /></label> <input type="submit" /></p>
</form>

