<html>
<head>
  <title>See Kiva loans from a user on a map</title>
  <link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print">	
  <!--[if lt IE 8]><link rel="stylesheet" href="/css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
  <link href="/css/screen.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <div class="container">
    <% if flash[:error] %><p><%= flash[:error] %></p><% end %>
    <form action="/">
      <p><label>User name: <input type="text" name="user_id" /></label> <input type="submit" /></p>
    </form>
  </div>
</body>
</html>
