<% @title = 'See a Kiva user''s loans on a map' %>

<p>Enter a Kiva username below and see the corresponding loans on a map:</p>
<form action="/">
  <p><label>User name: <input type="text" name="user_id" /></label> <input type="submit" /></p>
</form>

<h2>What is Kiva?</h2>

<p><a href="http://kiva.org">Kiva.org</a> is a micro-lending website. It allows individuals (like you) to lend directly to entrepreneurs around the globe.</p>

<p>The people who ask for loans on Kiva's site are real individuals in need of funding - not marketing material. When you browse entrepreneurs' profiles on the site, choose someone to lend to, and then make a loan, you are helping a real person make great strides towards economic independence and improve life for themselves, their family, and their community.</p>
