<html>
<head>
  <title>See Kiva loans from a user on a map</title>
</head>
<body>
  <% if flash[:error] %><p><%= flash[:error] %></p><% end %>
  <form action="/">
    <p><label>User name: <input type="text" name="user_id" /></label> <input type="submit" /></p>
  </form>
</body>
</html>
