
body {
  background: #e5e5e5;
}

#main-wrap {
  padding: 1.5em 0;
  background: white;
}

.loan-wrap {
  display: none;
}

.loan h2,
.loan .image-wrap {
  text-align: center;
}
.loan img {
  display: inline;
}
.loan .details {
  width: 300px;
}
.loan th {
  text-align: right;
  vertical-align: top;
}

#footer-wrap {
  padding: 1em 0;
}

